@tailwind base;
@tailwind components;
@tailwind utilities;



*{
    margin: 0;
    padding : 0 ;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,700;1,100;1,200;1,300;1,600;1,700&display=swap');



:root {
    /* colors */
    --body-color:#E4E9F7;
    --side-bar-color:#FFF;
    --primary-color:rgb(68, 137, 217);
    --primary-color-light:#F6F5FF;
    --primary-color-light2:#8d84d9;
    --text-color:#707070;
    --boxshadow:rgba(31, 32, 34, 0.3) 0px 1px 2px 0px ,
    rgba(48, 49, 50, 0.15) 0px 1px 13px 1px;

    /*New colors for this current project*/

    --base-color : #42A0ED;
    --second-color : #1AE3EE;
    
    
}

/*HEADER LOGIN DESIGN*/

.logo  {
    width: 30px;
    height: 30px;
}

.logo img  {
    width: 100%;
    height: 100%;
}
.grid  {
    display: grid;
}

.flex  {
    display: flex;
}

.header-container {
    justify-content: space-around;
    gap: 100px;
 
}

.profile-picture{
    gap: 10px;
}
.header-container .donate {
    padding: 12px;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.header{
    padding: 12px;
    gap: 10px;
}

.header > div {
    justify-content: center;
    align-items: center;
    align-content: center;
}


/*
Header button style 
*/
.header-container button  {
    background-color: var(--base-color);
    color: white;
    padding: 5px;
    border-radius: 8px;
    width: 100px;

}

/*Some tests*/ 

.extra-information {
    background-image: url('ushirik_background2.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    backdrop-filter: blur(20px);
    margin-top: -10;
    height: 100vh;
    color: white;
   
}

.login-section {
    justify-content: center;

}

/*
Form title 
*/
.form-title  {
    margin-bottom: 18px;
}

form  {
    flex-direction: column;
    /* align-items: flex-start; */
}

form  > h2  , form  > div   {
    margin-bottom: 15px;
}
label {
    padding-bottom: 9px;
    font-size: 13px;
}
form input {
    border: 1px solid var(--text-color);
}

.login-section form button  {
    background-color: var(--base-color);
}

.login-section- form input , button {
    
    padding: 7px;
    width: 350px;
    border-radius: 6px;
}

.create-account-button{
    margin-top: 10px;
    color: white;
}






/*Container section*/




/* .extra-information {
    width: 300px;
    height: 100vh;
}  */

/* School list design starts here */

.schools-administrated {
    gap: 10px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    padding: 12px;

}

.schools-administrated:hover {
    opacity: 50;
    cursor: pointer;

}

.schools-administrated .status {
    font-size: 13px;
    color: green;
    background-color:#c2fbd7;
    height: fit-content;
    padding: 4px;
    border-radius: 5px;
}

.school {
    gap: 10px;
}
.school .letter-image {
    
    width: 60px;
    padding-top: 15px;
    background-color: var(--body-color);
    justify-content: center;
    align-content: center;
    align-items: center;
    border-radius: 8px;
    font-size: 20px;
}

.school .school-general-info{
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-top: 2px;
}

.school .school-general-info .students-teachers{
   
    padding-bottom: 10px;
    gap: 10px;
    
}

.school .school-general-info .students-teachers{
    margin-top: 5px;
    padding-bottom: 10px;
    gap: 3px;
    font-size: 10px;
    padding-right: 20px;
    
}

.schools-list p  {
    margin-bottom: 20px;
    text-align: center;
}

.schools-list .title  {
    padding-bottom: 20px;
}

.students , .classroom  {
    gap: 3px;
}
.dot-separation  {
    font-size: 3px;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.school .school-general-info .students-teachers > div{
  
    padding-right: 5px;
    
}
.action {
    margin-top: 20px;
    width: 391px;
}

.action button  {
    color: var(--text-color);
    background-color: var(--body-color);
    width: 100%;
}

.action button:hover {
    background-color: var(--base-color);
    color: white;
}

/*school List design Ends here*/

/*Register school form starts here*/
.title {
    color: #707070;
    font-size: small;
 
    margin-bottom: 10px;
}

.title-{
    color: #707070;
    font-size: small;
    padding-top: 5px;
    letter-spacing: 4px;
}

.info input {
    margin-bottom: 7px;

}

.form-title- {
    margin-top: 5px;

}

.send-button-icon  {
  
    justify-content: space-evenly;
    gap: 200px;
    padding: 10px;
    color: white;
    
}

.send-button-icon .icon  {
    background-color:rgba(255 ,255 ,255 , 0.2);
    height: fit-content;
    width: 25px;
    border-radius: 50%
}

/*user role starts here */



/*user role ends here */

/*Registration form ends here*/

/*Common dashboard elements design goes here 
1.Menu
2.Dashboard
*/

.logo-name {
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top:  -12px;
    margin-bottom: 5px;
    letter-spacing: 0.2rem;
}

/*Admin dash board design starts here*/
.dash {
    background-color: var(--body-color);
}

.content  {
    margin-left: 168px;
}
.overview  {
    padding: 12px;
    background-color: var(--side-bar-color);

}

.icon-over {
    font-size: small;
}
.icon-over .over .added {
    color: #42A0ED;

}

.icon-over .over .gone {
    color: rgb(209, 53, 53);

}


.over  {
    gap: 10px;
}

.icon-over , .over {
    display: flex;
}

.icon-over  {
    justify-content: space-between;
}

.title-over {
    opacity: 50%;
}

.icon-over .number  {
    font-weight: 700;
}

.icon-over .icon {
    font-size: 20px;
}







